# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Frozen Fury.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Uni\cuarto ANO\Redes y sociales\Frozen Fury\.idea\.idea.Frozen Fury\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
